@import '../../assets/styles/colors';

.panel {
  width: 250px;
  background: $interactive-ui;
  position: fixed;
  top: 0;
  overflow: visible;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.closed {
  left: -250px;
  transition: all 0.3s;
}

.open {
  left: 0;
  transition: all 0.3s;
}


.panelFlag {
  position: absolute;
  left: 100%;
  top: 20px;
  outline: none;
  z-index: 1;
}

@media(max-width: 600px) {
  .panel {
    width: 54px;
    padding: 20px 7px;
  }

  .closed {
    left: -54px;
  }
}
