.open {
  margin-left: 250px;
  transition: all 0.3s;
}

.closed {
  margin-left: 0px;
  transition: all 0.3s;
}

.backToTop {
  position: fixed;
  bottom: 0;
  right: 2rem;
  z-index: 3;
}

@media(max-width: 600px) {
  .open {
    margin-left: 54px;
  }
}
