@import '../../assets/styles/colors';
$rad: 5px;

.up {
  border-radius: $rad $rad 0px 0px;
}

.down {
  border-radius: 0px 0px $rad $rad;
}

.left {
  border-radius: 0px $rad $rad 0px;
}

.right {
  border-radius: $rad 0px 0px $rad;
}

.flag {
  background: $interactive-ui;
  color: white;
  display: block;
  width: 30px;
  height: 30px;
  border: none;
}
