.photobox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  display: block;
  border-radius: 50%;
  border: 1px solid white;
}

.nickname {
  color: white;
}

.short {
  .avatar {
    width: 100px;
    height: 100px;
  }

  .nickname {
    font-size: 16px;
  }
}

.long {
  .avatar {
    width: 163px;
    height: 163px;
  }

  .nickname {
    font-size: 45px;
  }
}

.description {
  h2 {
    font-size: 25px;
    font-weight: 400;
    margin: 0.5rem 0rem;
  }
}

@media(max-width: 600px) {
  .short {
    .avatar {
      width: 40px;
      height: 40px;
    }

    .nickname {
      display: none;
    }
  }
}
