@import '../../assets/styles/colors';

.button {
  color: white;
  background: $interactive-ui;
  border: none;
  border-radius: 5px;
  padding: 8px;
  display: flex;
  gap: 13px;
  justify-content: center;
}

.button:hover {
  background: $highlight;
}

@media(max-width: 600px) {
  .text {
    display: none;
  }
}
