@import '../../../../assets/styles/colors';

.navitem {
  color: $interactive-highlight;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 0px;
}

.navitem:hover,
.focused {
  cursor: pointer;
  color: $highlight;
}

@media(max-width: 600px) {
  .navitem {
    padding: 20px 11px;

    div {
      display: none;
    }
  }
}
