@import '../../assets/styles/colors';

.container {
  margin: 0px 0px 0px -0.5rem;
  padding: 0px;
}

.portfolio {
  position: relative;
  overflow: hidden;
  display: inline-block;
  appearance: none;
  width: 0%;
  height: 0px;
  opacity: 0;
  margin: 0rem;
  transform: scale(0);
  transition: all 0.3s, opacity 0.2s;
}

.radioAll,
.radioUi,
.radioCode {
  display: none;
}

.radioAll:checked~.portfolio,
.radioUi:checked~.portfolioCard1,
.radioCode:checked~.portfolioCard3 {
  transform: scale(1);
  width: 308px;
  height: 190px;
  opacity: 1;
  margin: 0.5rem;
  transition: all 0.3s, opacity 0.2s;
}

.portfolio:hover .portfolioInfo {
  top: 0%;
  transition: all 0.3s;
}

.portfolioInfo {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  background: hsla(0, 0%, 100%, 0.95);
  padding: 10px 15px;
  transition: all 0.3s;

  h2 {
    font: 700 16px / 19px "Open Sans", sans-serif;
  }

  p,
  a {
    font-size: 14px;
  }
}
