@import '../../assets/styles/colors';

@keyframes loading-animation {
  from {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(180deg)
  }
}

.loading {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    color: $highlight;
    width: 2rem;
    height: 2rem;
    animation: loading-animation 1s forwards infinite linear;
  }
}
