@import '../../assets/styles/colors';

.addressItem {
  display: flex;
  align-items: center;

  svg {
    width: 2rem;
    height: 2rem;
    margin: 10px 20px 10px 0px;
    color: $highlight;
  }
}

.title,
.title a {
  color: $text;
  text-decoration: none;
}

.link {
  color: $interactive-highlight;
  text-decoration: none;
}
