@import '../../assets/styles/colors';

.skillsElement {
  position: relative;
}

.skills {
  margin-top: 40px;
}

.formOpen {
  display: none;
}

.form {
  border: 1px solid $highlight;
  border-radius: 5px;
  padding: 1rem;

  input {
    border-radius: 5px;
    border: 1px solid $interactive-highlight;
    padding: 10px;
    margin-left: 20px;
    min-width: 270px;
  }

  button {
    padding: 11px 23px;
    font-size: 1rem;
  }
}

.formOpen~.form {
  display: none;
}

.formOpen:checked~.form {
  display: block;
}

.formToggle {
  display: inline-block;
  padding: 11px 23px;
  position: absolute;
  right: 1rem;
  bottom: calc(100% + 30px);
  border-radius: 5px;
  z-index: 2;
  color: white;
  background: black;
  user-select: none;
}

.inputField {
  margin: 0px 0px 20px 0px;
}

.error {
  color: red;
}

.scale {
  background: $highlight;
  color: white;
  box-sizing: border-box;
  padding: 5px 15px;
  text-overflow: ellipsis;
  margin: 5px 0px;
}

.ruler {
  margin-top: 15px;

  .rulerMarks {
    border-bottom: 1px solid $interactive-highlight;
    width: 100%;
    display: flex;
  }

  .rulerMarks * {
    height: 10px;
    display: inline-block;
    border-left: 1px solid $interactive-highlight;
  }

  .rulerMarks div:nth-child(1),
  .rulerMarks div:nth-child(3) {
    border-left: 1px solid $interactive-highlight;
    width: 25%;
  }

  .rulerMarks div:nth-child(3) {
    border-right: 1px solid $interactive-highlight;
  }

  .rulerMarks div:nth-child(2) {
    width: 50%;
  }

  .rulerNotes {
    width: 100%;
    height: 12px;
    margin-top: 10px;
  }

  .rulerNotes div {
    position: absolute;
    color: $interactive-highlight;
    font-size: 12px;
  }

  .rulerNotes div:nth-child(1) {
    left: 0px;
  }

  .rulerNotes div:nth-child(2) {
    left: 25%;
    transform: translateX(-50%);
  }

  .rulerNotes div:nth-child(3) {
    left: 75%;
    transform: translateX(-50%);
  }

  .rulerNotes div:nth-child(4) {
    left: 100%;
    transform: translateX(-100%);
  }
}
