.home {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background: url('../../assets/images/background.png');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    max-width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }

  button {
    padding: 10.5px 20px;
  }
}
