@import '../../assets/styles/colors';

.timeline {
  td {
    margin: 0px;
  }
}

.date {
  height: 3rem;
  min-width: 3.5rem;
  font-weight: bold;
  text-align: center;
}

.stripe {
  position: relative;

  div {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 5px;
    height: 100%;
    background: $highlight;

  }
}

.info {
  background: $info;
  padding: 1rem;
  margin: 0px 0px 10px 9px;
  position: relative;
}

.info::before {
  content: '';
  display: block;
  position: absolute;
  left: -0.3rem;
  z-index: -1;
  width: 1rem;
  height: 1rem;
  transform: rotate(-35deg) skew(15deg);
  background: $info;
}
