@import '../../assets/styles/colors';

.feedback {
  padding: 1rem;
  background: $info;
}

.reporter {
  display: flex;
  margin: 20px 0px 40px 0px;
  align-items: center;
  gap: 20px;

  a {
    color: $highlight;
    text-decoration: none;
  }
}

.avatar {
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
}
