@import url('./fonts.css');

:root {
  --text: #222935;
  --highlight: #26c17e;
  --info: #eeeeee;
  --interactive-ui: #222935;
  --interactive-highlight: #667081;
}

* {
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
  height: 100vh;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 25px;
  color: var(--highlight);
}
